:root {
    --text-max-width: 40rem;
}

body {
    background-color: #363636;
    color: #EEE;
    height: 100vh;
    font-family: monospace, sans-serif;
    font-size: 20px;
    
}

.container {
    width: 40rem;
    height: 30rem;
}

.text-container {
    flex-direction: column;
    width: var(--text-max-width);
    height: 20rem;
    
}
p {
    max-width: var(--text-max-width);
    text-align: center;
    height: 100%;
    display: inline;
    
}
button {
    border: #000 solid 2px;
    background-color: inherit;
    height: 40px;
    border-radius: 50px;
    min-width: 100px;
    /* display: none;  */
    font-family: monospace;   
}
button:hover {
    background-color: rgba(0, 0, 0, 0.276);
    color: rgba(238, 238, 238, 0.646);
    border: rgba(0, 0, 0, 0.742);
    cursor:pointer;
}
.btn-container {
    width: 100%;
    justify-content: space-around;
} 
.flex {display: flex;}
.flex-column {flex-direction: column;}
.align-center {align-items: center;}
.justify-center {justify-content: center;}
.border {border: solid white 2px}
.hidden {display: none;}